mat-card {
  border-radius: 25px;
  width: 350px;
  height: 225px;
  display: inline-block;
}

mat-card-content {
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 225px;
}
